body {
    margin: 0;
}
.container{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
}

.top{
    width: 100%;
    min-height: 300px;
    background-color: rgb(47, 63, 63);
}
.mid{
    min-height: 500px;
    width: 100%;
    background-color: rgb(40, 131, 131);
}
.midContent{
    display: flex;
    flex-direction: column;
    margin: 150px auto;
    background-color: #8a8a8a;
    min-height: 200px;
    width: 1000px;
}
#userText{
    background-color: aliceblue;
}
p.text{
    margin-left: 30px;
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bot{
    bottom: 0;
    width: 100%;
    min-height: 150px;
    background-color: aqua;
}
.userText{
    margin: 50px auto;
    background-color: #8a8a8a;
    width: 1000px;
    min-height: 100px;
}
.menubar{
    float: right;
    padding-right: 50px;
    padding-top: 20px;
}
.menuButton{
    background-color: #686868;
    border: none;
    color: white;
    padding: 10px 28px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
}
.menuButton:hover{
    background-color: #e7e7e7;
    color: black;
    cursor: pointer;
}
